.tabla-container {
  overflow-x: auto; /* Permitir desplazamiento horizontal en dispositivos pequeños */
}

#tabla-turnos {
  width: 100%;
  border-collapse: collapse;
  border: 5px solid #0B3954; /* Grosor del borde externo y color */
  overflow: hidden; /* Para aplicar bordes redondeados a las celdas */
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2); /* Sombras suave */
}

#tabla-turnos th, #tabla-turnos td {
  padding: 12px;
  text-align: center;
}

#tabla-turnos th {
  background-color: #0B3954; /* Gris oscuro para el encabezado */
  color: #fff;
  font-weight: bold;
}

#tabla-turnos td {
  background-color: #f2f2f2; /* Gris claro para las celdas de datos */
}

#tabla-turnos td:hover {
  background-color: #D0D0D0; /* Cambiar el color de fondo */
  cursor: pointer; /* Cambiar el cursor */
}

#tabla-turnos th,
#tabla-turnos td {
  border: 2px solid #0B3954; /* Borde de color gris medio */
}


.descripcion-turnos {
  text-align: center;
}

h2 {
    text-align: center;
}

.calendario-eventos {
  background-color: #f2f2f2; /* Color de fondo gris */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  max-width: 75%; /* Ancho máximo del contenedor */
  margin: 40px auto 0; /* Margen superior de 20px, centrado horizontalmente */
}

.calendario-eventos h3 {
  text-align: center; /* Centrar texto */
}

.calendario-eventos ul {
  list-style: none; /* Eliminar viñetas */
  padding: 0;
}

.calendario-eventos li:before {
  content: "+"; /* Cambiar puntos por cruces */
  color: #0B3954; /* Color rojo para cruces */
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.encabezado {
  text-align: center;
  margin-bottom: 50px; /* Espacio entre el encabezado y la tabla */
}

.logo {
  width: 100px; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 50%; /* Para hacer el logo redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.titulo {
  color: #0B3954; /* Color del título */
  font-size: 24px; /* Tamaño del título */
  margin-top: 10px; /* Espacio entre el logo y el título */
}

.slogan {
  color: #777; /* Color del slogan */
  font-style: italic; /* Estilo de fuente cursiva para el slogan */
  margin-top: 5px; /* Espacio entre el título y el slogan */
}









.turno-opciones-container {
  background-color: white;
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 100%; /* Ancho del 100% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más suave */
  text-align: center;
}

.turno-info p {
  margin-bottom: 10px;
}

.turno-info strong {
  color: #0B3954;
  font-weight: bold;
  margin-right: 5px;
}

.turno-info p span {
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  display: inline-block; /* Para que el fondo abarque solo el contenido */
  font-size: 20px;/* Tamaño de fuente */
  background-color: #757575; /* Fondo gris */
}


.turno-info .turno-mañana span {
  background-color: #FFF86E; /* Color de fondo para el turno de mañana */
  color: #000;
}

.turno-info .turno-tarde span {
  background-color: #FFAE6E; /* Color de fondo para el turno de tarde */
}

.turno-info .turno-noche span {
  background-color: #6654A5; /* Color de fondo para el turno de noche */
}

.turno-info .turno-normal span {
  background-color: #333; /* Color de fondo predeterminado */
}

.botones-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Espacio entre el contenido anterior y los botones */
  gap: 20px; /* Espacio entre los botones */
}

.n-boton {
  background-color: #0B3954;
  color: white;
  border: 1px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Eliminar el subrayado */
}

.n-boton:hover {
  background-color: #336f91;
}

.n-boton a {
  text-decoration: none;
  color: white;
}








.notificacion {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.nombre {
  font-weight: bold;
  font-size: 1.2em; /* Ajusta el valor según tus necesidades */
}
.tipo-notificacion {
  font-weight: bold;
  font-size: 1em; /* Ajusta el valor según tus necesidades */
}
.remite {
  background-color: #CFCFCF;
  padding: 10px;
}
.detalle .variable {
  font-weight: bold;
  text-transform: uppercase;
}
.estado-notificacion {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

.estado-notificacion.aceptada {
  background-color: green;
}

.estado-notificacion.pendiente {
  background-color: orange;
}

.estado-notificacion.rechazada {
  background-color: red;
}

.select-container {
  margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
}

.select-container select {
  width: 220px; /* Ajusta el ancho según tus preferencias */
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

/* Estilo cuando se enfoca */
.select-container select:focus {
  border-color: #0B3954;
}

/* Estilo para las opciones */
.select-container option {
  padding: 5px 10px; /* Agrega espacio alrededor del texto de la opción */
  background-color: #fff; /* Color de fondo de las opciones */
  color: #000; /* Color de texto de las opciones */
}

/* Estilos para el icono del tic */
.icono-tic {
  margin-top: 10px;
  color: #4CAF50; /* Verde */
  font-size: 3em; /* Tamaño grande */
}

/* Estilos para el icono de la equis */
.icono-x {
  margin-top: 10px;
  color: #FF0000; /* Rojo */
  font-size: 3em; /* Tamaño grande */
}









.notificacion-box {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.nombre-valoraciones {
  background-color: #CFCFCF;
  padding: 10px;
}

.nombret-valoraciones {
  font-weight: bold;
  margin-bottom: 10px;
}

.info-turno-valoraciones,
.gris-fondo {
  display: inline; /* Cambiado a inline */
  margin-right: 10px; /* Espacio entre los cuadraditos */
  padding: 5px;
  border: 1px solid #ccc; /* Borde de los cuadraditos */
  border-radius: 5px; /* Bordes redondeados */
}

.gris-fondo {
  background-color: #CECECE; /* Color gris claro */
  font-size: 18px;
  padding: 5px 80px; /* Añade algo de espacio alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}

.turno-manana-valoraciones {
  display: inline; /* Agregado */
  background-color: #FFF86E; /* Color de fondo para el turno de mañana */
  font-size: 18px;
  padding: 5px 80px; /* Añade algo de espacio alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}

.turno-tarde-valoraciones {
  display: inline; /* Agregado */
  color: white;
  background-color: #FFAE6E; /* Color de fondo para el turno de tarde */
  font-size: 18px;
  padding: 5px 80px; /* Añade algo de espacio alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}

.turno-noche-valoraciones { /* Agregado */
  display: inline; /* Agregado */
  font-size: 18px;
  color: white;
  background-color: #6654A5; /* Color de fondo para el turno de noche */
  padding: 5px 80px; /* Añade algo de espacio alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}












        /* Estilo para estrellas inactivas (gris) */
        .estrellas input[type="radio"] {
          display: none; /* Ocultar los inputs */
      }

      .estrellas label i {
          font-size: 50px; /* Tamaño de las estrellas */
          cursor: pointer; /* Cambiar el cursor al pasar sobre las estrellas */
          color: #ccc; /* Color gris por defecto */
      }

      /* Cambiar el color de las estrellas seleccionadas */
      .estrellas input[type="radio"]:checked + label i {
          color: gold;
      }

      /* Estilo para el área de comentarios */
      .comentarios {
          margin-top: 20px;
      }

      .comentarios label {
          display: block;
          text-align: left;
          color: #0B3954; /* Color del texto */
      }

      .comentarios textarea {
          width: 100%;
          height: 100px;
          resize: vertical; /* Permitir que el usuario redimensione verticalmente */
          border: 2px solid #0B3954; /* Borde de color */
          padding: 5px; /* Espaciado interno */
          font-size: 16px; /* Tamaño de fuente */
      }










              /* Estilo para las estrellas grises */
              .estrellas-calificaciones {
                font-size: 50px; /* Tamaño de las estrellas */
                color: #ccc; /* Color gris por defecto */
            }
    
            /* Estilo para las estrellas amarillas */
            .estrellas-calificaciones.amarillo {
                color: gold; /* Color amarillo */
            }
            .turno-calificaciones {
                background-color: white;
                border-radius: 10px; /* Bordes redondeados */
                padding: 20px; /* Espaciado interno */
                width: 100%; /* Ancho del 100% */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más suave */
            }
            /* Estilo para el nombre y apellido del valorador */
            .valorador-nombre {
                font-weight: bold; /* Negrita */
                color: #333; /* Color del texto */
            }
            .nombre-calificaciones {
                background-color: #CFCFCF;
                padding: 10px;
            }
            .comentario-calificaciones {
            font-style: italic; /* Estilo cursiva */
            color: #666; /* Color del texto */
            margin-left: 20px; /* Margen izquierdo para separar del nombre y la puntuación */
        }









        





/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #0B3954;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  margin-right: 10px; /* Espacio a la derecha para separar del texto */
  opacity: 0;
  transition: all 0.5s ease;
}


.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  border: #ccc;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  border: #ccc;
  height: 100%;
}
.sidebar li{
  position: relative;
  border: #ccc;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  border: #ccc;
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  border: #ccc;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #041620;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #041620;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #041620;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #0B3954;
  border: #ccc;
}
.sidebar li a:hover{
  background: #FFF;
  border: #ccc;
}
.sidebar li a .links_name{
  color: #fff;
  border: #ccc;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  border: #ccc;
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
  border: #ccc;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  border: #ccc;
}
.sidebar li.profile{
  border: #ccc;
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #041620;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: red;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: red;
}
.home-section{
  position: relative;
  background: #dae4ed;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  padding: 50px; /* Agrega un relleno para los márgenes internos */
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}